/*edit User*/




#searchUserBox{
    margin:10px;
    margin-bottom: 50px;
}


#searchUserButton{
    position: relative;
    display: inline-block;
    margin-left: 15px;
}

.viewTheUser{
    margin:15px;
    /*visibility: 'hidden';*/
    display: none;
}

.editUserForm {
    margin: 30px 0px 30px 0px;
}

#viewingThisUser {
    margin-bottom: 20px;
    display: block;
}

#resetPasswordField{
    padding-top: 40px;
    width: 200px;
    background-color: #3733b7;
}

.errorMessages {
    color: #B43232;
    visibility: hidden;
    display: flex;
    flex-wrap: wrap;
    padding: 2% 14%;
}

.phoneBox, .emailBox, .idBox, .sinBox, .pwBox{
    border: 1px solid #cec7c7;
    /*visibility: hidden;*/
}

.saveChangesButton{
    width: 500px;
}
