body {
  padding-top: 0px;
  padding-bottom:50px;
  height: 100%;
}
.starter-template {
  padding: 40px 15px;
  /*text-align: center;*/
}

@font-face {

}
 /*<<<<<<<<<<<<<<<<<<  north block  >>>>>>>>>>>>>>>>>>>>>>>>>*/
 /*<<<<<<<<<<<<<<<<<<  north block  >>>>>>>>>>>>>>>>>>>>>>>>>*/
#ui-north-block {
  height: 54px;
  position: absolute;
  background-color: rgba(128, 0, 32, 0.8);

}


/*<<<<<<<<<<<<<<<<<<   entry fields >>>>>>>>>>>>>>>>>>>>>>*/
/*<<<<<<<<<<<<<<<<<<   entry fields >>>>>>>>>>>>>>>>>>>>>>*/
/*<<<<<<<<<<<<<<<<<<   entry fields >>>>>>>>>>>>>>>>>>>>>>*/


/*
@media (min-width: 760px) {*/
#mainContentRow {
  margin:10%;
}

.loginBox {
  float: center;
}

.enterBox {
  margin: 0px 3px 0px 3px;
}

.reportWell {
  overflow: auto;
  padding-right: 25px;
  margin-top:3%;
}



.report-table > tbody > tr >td {
  /*border:none;*/
  border-collapse: collapse;
  padding: 0px 0px 5px 8px;
  border-top: 0px;
  overflow: auto;
}

.report-table-head {
    margin: 5px 0px 0px 0px;
}

.report-table-head > tbody > tr >td {
  /*border:none;*/
  border-collapse: collapse;
  padding: 0px 0px 5px 15px;
  border-top: 0px;
}
 

.extraShiftCells {
}

#extraShiftCells2 {
} 

.reportHeading {
  /*margin: 0px 0px 0px 10px;*/
  /*float: left;*/
  clear: left;
  /*width: 10%;*/
  font-weight: bolder;
}

.reportHeading-headTable {
  /*margin: 0px 0px 0px 10px;*/
  /*float: left;*/
  /*clear: left;*/
  width: 22%;
  font-weight: bolder;
}

.reportHeadingInput-s {
  width: 25%;
  display: inline-block;
  /*margin-left: 15px;*/
  float: left;
  text-align: left;
}
.reportHeadingInput-m {
  width: 60%;
  display: inline-block;
  /*margin-left: 15px;*/
  float: left;
  text-align: left;
}
.reportlabel {
  display: inline-block;
  float: left;
  clear: left;
  text-align: right;
}

.reportInput-s {
  width: 45%;
  display: inline-block;
  /*margin-left: 15px;*/
  float: left;
  text-align: left;
}

.reportInput-m {
  width: 65%;
  display: inline-block;
  /*margin-left: 15px;*/
  float: left;
  text-align: left;
}

.reportInput{
  width: 100%;
 display: inline-block;
  /*margin-left: 15px;*/
  float: left;
  text-align: left;
}


.submitShowReport {
  clear: both;
  float: right;
  margin-right: 15px;
  background-color: #7f0019;
  color: #ffffff;
  border-radius: 9px;
}


/*}*/
